.ContactsMainContainer input, .ContactsMainContainer textarea{
    background-color:transparent;
    border:none;
    border-radius:0.5rem;
    font-weight:900;
    padding-top:1em;
    padding-bottom:1em;
    padding-left:1em;
    box-shadow:0 2px 3px #696A6F;
    transition: box-shadow 0.3s;
}

.ContactsMainContainerDark input, .ContactsMainContainerDark textarea{
    background-color:#27282F;
    border:none;
    border-radius:0.5rem;
    font-weight:900;
    padding-top:1em;
    padding-bottom:1em;
    padding-left:1em;
    color: #B3C3D7;
    box-shadow:none;
    transition: box-shadow 0.3s;
}

.ContactsMainContainer h2{
    font-size:3rem;
    font-weight:900;
    color:#10637D;
    padding-bottom:1em;
}

.ContactsMainContainerDark h2{
    font-size:3rem;
    font-weight:900;
    color:white;
    padding-bottom:1em;
}

.ContactsMainContainer button{
    margin: 2em 0;
    background-color:#10637D;
    padding:0.7em 1.5em;
    font-size:1.4rem;
    color:white;
    border:2px solid transparent;
    border-radius:1rem;
    transition: background-color 0.3s,
                border 0.3s,
                color 0.3s;
}

.ContactsMainContainerDark button{
    margin: 2em 0;
    background-color:#10F0FC;
    padding:0.7em 1.5em;
    font-size:1.4rem;
    color:#27282f;
    border:2px solid transparent;
    border-radius:1rem;
    transition: background-color 0.3s,
                border 0.3s,
                color 0.3s;
}

.ContactsMainContainerDark p{
    color:#10F0FC;
}

.Contacts input{
    width:100%;
    margin-bottom:2em;
}

.Area input{
    margin-bottom:2em;
}

.Sent p{
    margin-top:1em;
    margin-left:3em;
}

.ContactsMainContainer button:hover{
    background-color:#f2f2f2;
    border:2px solid #10637D;
    color:#10637D;
}

.ContactsMainContainerDark button:hover{
    background-color:#27282F;
    border:2px solid #10F0FC;
    color:#10F0FC;
}

.ContactsMainContainer input:hover, .ContactsMainContainer textarea:hover{
    box-shadow:0 3px 4px #696A6F;
}

.ContactsMainContainerDark input:hover, .ContactsMainContainerDark textarea:hover{
    box-shadow: 0 0 4px #B3C3D7;
}

.ContactsMainContainer{
    width:90%;
    margin:0 auto;
    padding-top:5em;
}

.ContactsMainContainerDark{
    width:90%;
    margin:0 auto;
    padding-top:5em;
}

.Contacts{
    display:flex;
    justify-content:center;
}

.MarginInput{
    margin-right:1em;
}

.Area{
    display:flex;
    flex-direction:column;
}

.Sent{
    display:flex;
    align-items:center;
}

@media(max-width:440px){
    .Contacts{
        flex-direction:column;
    }
}