header{
    background-color: #f2f2f2;
    width:100vw;
    padding-top:1em;
    padding-bottom:0.5em;
    display:flex;
    justify-content:space-between; 
    position:fixed; 
    z-index:20; 
} 

header img{ 
    padding-left:1.5em; 
    transition: transform 0.5s; 
} 

nav{ 
    padding-top:1.4em;
    padding-right:1.5em;
}

.DarkHeader a{
    color:white;
}

header img:hover{
    transform: scale(1.1);
}

.DarkHeader a:hover{
    border:2px solid #10F0FC;
}

.DarkHeader{
    background-color:#1c2025;
}

