header{
    background-color: #f2f2f2;
    width:100vw;
    padding-top:1em;
    padding-bottom:0.5em;
    display:flex;
    justify-content:space-between; 
    position:fixed; 
    z-index:20; 
} 

header img{ 
    padding-left:1.5em; 
    transition: transform 0.5s; 
} 

nav{ 
    padding-top:1.4em;
    padding-right:1.5em;
}

button{
    border:none;
    background-color:transparent;
}

.DarkHeader a, .DarkBurger button{
    color:white;
}

header img:hover{
    transform: scale(1.1);
}

.DarkHeader a:hover{
    border:2px solid #10F0FC;
}

.DarkHeader{
    background-color:#1c2025;
}

.Burger, .DarkBurger{
    display:none;
}

.BurgerButton{
    margin-right:2em;
}

@media(max-width:768px){
    header nav{
        display:none;
    }
    .Burger, .DarkBurger{
        display:block;
    }
    .bi-list{
        font-size:3rem;
    }
}

