.IntroContainer img{
    margin-right:0.8em;
}

.IntroContainerDark img{
    margin-right:0.8em;
}

.IntroInformation h1{
    padding-top:0.3em;
    padding-bottom:0.3em;
    font-size:7rem;
    font-weight:900;
    color:#10637D;
}

.IntroContainerDark h1{
    color:white;
}

.IntroInformation h3{
    font-weight:900;
    font-size:2.2rem;
    padding-bottom:1em;
}

.IntroContainerDark h3{
    color:#10f0fc;
}

.IntroInformation button{
    background-color:#10637D;
    padding:0.7em 1.5em;
    font-size:1.4rem;
    color:white;
    border:2px solid transparent;
    border-radius:1rem;
    transition: background-color 0.3s,
                border 0.3s,
                color 0.3s;
}

.IntroContainerDark button{
    background-color:#10f0fc;
    border:2px solid #10f0fc;
    color:black;
}

.IntroInformation button:hover{
    background-color:#f2f2f2;
    border:2px solid #10637D;
    color:#10637D;
}

.IntroContainerDark button:hover{
    background-color:#1c2025;
    border:2px solid #10f0fc;
    color:#10f0fc;
}

.IntroContainer{
    background-color:#f2f2f2;
    padding-top:9em;
    display:flex;
    justify-content:center;
}

.IntroContainerDark{
    background-color:#1c2025;
    padding-top:9em;
    display:flex;
    justify-content:center;
}

.IntroInformation{
    padding-left:2em;
}