.IntroContainer img, .IntroContainerDark img{
    margin-right:0.8em;
}

.IntroInformation h1{
    padding-top:0.3em;
    padding-bottom:0.3em;
    font-size:7rem;
    font-weight:900;
    color:#10637D;
}

.IntroContainerDark h1{
    color:white;
}

.IntroInformation h3{
    width:30em;
    font-weight:900;
    font-size:2.2rem;
    padding-bottom:1em;
}

.IntroContainerDark h3{
    color:#10f0fc;
}

.IntroInformation button{
    background-color:#10637D;
    padding:0.7em 1.5em;
    font-size:1.4rem;
    color:white;
    border:2px solid transparent;
    border-radius:1rem;
    transition: background-color 0.3s,
                border 0.3s,
                color 0.3s;
}

.IntroContainerDark button{
    background-color:#10f0fc;
    border:2px solid #10f0fc;
    color:black;
}

.IntroInformation button:hover{
    background-color:#f2f2f2;
    border:2px solid #10637D;
    color:#10637D;
}

.IntroContainerDark button:hover{
    background-color:#1c2025;
    border:2px solid #10f0fc;
    color:#10f0fc;
}

.IntroContainer{
    background-color:#f2f2f2;
    padding-top:9em;
    margin-left:1.5em;
    display:flex;
    justify-content:center;
}

.IntroContainerDark{
    background-color:#1c2025;
    padding-top:9em;
    margin-left:1.5em;
    display:flex;
    justify-content:center;
}

.IntroInformation{
    padding-left:2em;
}

@media(max-width:1440px){
    .IntroContainer, .IntroContainerDark{
        width:90%;
        margin:0 auto;
    }
    .IntroContainer h3, .IntroContainerDark h3{
        width:100%;
        font-size:2rem;
    }
}

@media(max-width:1024px){
    .IntroContainer h1, .IntroContainerDark h1{
        padding-top:0.5em;
        font-size:4.5rem;
    }
    .IntroContainer h3, .IntroContainerDark h3{
        font-size:1.8rem;
    }
    .IntroContainer, .IntroContainerDark{
        padding-bottom:1em;
    }
}

@media(max-width:768px){
    .IntroContainer h1, .IntroContainerDark h1{
        font-size:3.5rem;
    }
    .IntroContainer h3, .IntroContainerDark h3{
        width:90%;
        font-size:1.3rem;
    }
    .IntroContainer img, .IntroContainerDark img{
        margin-right:0.4em;
    }
    .IntroContainer, .IntroContainerDark{
        width:100%;
        padding-bottom:1em;
        margin-left:1.1em;
    }
}

@media(max-width:440px){
    .IntroContainer h1, .IntroContainerDark h1{
        font-size:3rem;
    }
    .IntroContainer img, .IntroContainerDark img{
        margin-left:1em;
        margin-right:0;
    }
    .IntroContainer, .IntroContainerDark{
        padding-top:10em;
        flex-direction:column;
    }
}