.AboutMeContainer h2{
    font-size:3rem;
    font-weight:900;
    color:#10637D;
}

.AboutMeDark h2{
    font-size:3rem;
    font-weight:900;
    color:white;
}

.AboutMeContainer p{
    width:60em;
    font-weight:900;
}

.AboutMeDark p{
    width:60em;
    font-weight:900;
}

.AboutMeContainer{
    width:90%;
    margin:0 auto;
    padding-top:4em;
    padding-bottom:2em;
}

.AboutMeDark{
    width:90%;
    margin:0 auto;
    padding-top:4em;
    padding-bottom:2em;
    color:white;
}

@media(max-width:1024px){
    .AboutMeContainer p, .AboutMeDark p{
        width:55em;
    }
}

@media(max-width:768px){
    .AboutMeContainer p, .AboutMeDark p{
        width:42em;
    }
}

@media(max-width:440px){
    .AboutMeContainer p, .AboutMeDark p{
        width:22em;
    }
}